:root {
  --color-background: #111111;
  --color-panels: #222222;
  --color-border-content: #444444;
  --color-text: #cccccc;
  --color-text-highlight: #eeeeee;

  --color-accent-1: #0663ad;

  --color-success: #00cc00;
  --color-error: orangered;

  --default-font-size: 1.4rem;

  --space: 1rem;

  --header-height: 3rem;
  --sidepanel-width: 20rem;
}

/**
    Mobile first
    Breakpoints: 960px, 1600px
*/
html {
  font-size: 62.5%;

  @media screen and (min-width: 960px) {
    font-size: 75%;
  }

  @media screen and (min-width: 1600px) {
    font-size: 90%;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-panels);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: var(--default-font-size);
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

h1,
h2 {
  color: var(--color-text-highlight);
}

.h1 {
  font-size: 1.2rem;
  line-height: 1;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

strong,
b {
  font-weight: 400;
}

p {
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
